// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/map/map.page";
@import "../pages/about/about.page";
@import "../pages/pokedetail/pokedetail.page";
@import "../pages/search/search.page";

@import "../components/map/map.component";
@import "../components/nav-sidebar/nav-sidebar.component";
@import "../components/navbar/navbar.component";
@import "../pages/wiki-index/wiki-index.page";

